<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDY4WqZqainSsu4EENY4o3g2oLGOTDd8w</string>
	<key>GCM_SENDER_ID</key>
	<string>680149928267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iguru.co.ke.data</string>
	<key>PROJECT_ID</key>
	<string>dataappfiles</string>
	<key>STORAGE_BUCKET</key>
	<string>dataappfiles.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680149928267:ios:998cb3a9f2661e69f700ce</string>
</dict>
</plist>